.header {
	font-family: 'Gaegu', cursive;
}
.clear {
	clear:both;
}
code {
	border-radius:20px;
}

code.hljs {
	padding:2em;
}

nav ul li {
	border-left:thin solid white;
}

.experiment {
	padding: 1em;
	background-color:#a6caa6;
	margin-top:0.5em;
	margin-bottom:0.5em;

}
